h1{
    color:blue;
    text-align: center;
}

.citation {
    font-style: italic;
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(195, 195, 195);
    color: fuchsia;
}

